body{
  background: #b4b4b4;
}

#main{
  width: 940px;
  margin: 30px auto;
  color: #555;
  background: #eee;
  border-radius: 10px;
  padding: 10px;
  font-family: "Arial", Verdana, Helvetica;
	box-shadow: 0px 0px 10px #666;
}

p{
  font-size: 12px;
  margin: 0 0 10px;
}